.form {
  width: 100%;

  .input-group {
    display: flex;
    justify-content: space-around;

    input {
      padding: 1rem 1rem;
      width: 80%;
    }
    button {
      border: none;
      border-radius: 14px;
      width: 10%;
      padding: 1rem 1rem;
      background-color: var(--clr-gray);
      color: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .input-group {
    flex-direction: column;
    gap: 10px;
    input {
      width: 100% !important;
      border-radius: 14px;
    }
    button {
      width: 100% !important;
    }
  }
}
